<h1>Dashboard</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th></th>
      <th>Category</th>
      <th>Product Count</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
    
    <% count_products_by_category.each_with_index do |item,index| %>
      <tr>
        <td>
          <%= index+1%>
        </td>
        <td>
          <%= item.stringify_keys.keys.first%>
        </td>
        <td>          
          <%= item.values.first%>
         
        </td>
        <td>
          <%= link_to "Detail",category_path(id: index+1) %>
        </td>
      </tr>
      <%end%>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="2">Total Products</th>
      <th><%= total_products %></th>
      <th> <%= link_to "All Products",products_path %></th> 
    </tr>
  </tfoot>
</table>